.popup-commentaire {
  position: fixed;
  bottom: 4%;
  right: 3% ;
  width: 92%;
  height: 92%;
  background-color: white;
  border: 3px  solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.titre-popup {
  position: absolute;
  top : 15%;
  left : 3%;
  width : 30%;
  font-size : 35px;
  font-weight : bold;
}

.bouton-audio{
  background-color: white;
  border : none;
  cursor : pointer;
}

.zone-texte {
  position: absolute;
  right : 7%;
  top : 20%;
  width :  60%;
  height : 60%;
  border : 3px solid black;
  border-radius : 5px;
  background-color: white;
}

.zone-commentaire {
  width: 90%;
  height: 70%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
}

.zone-commentaire:focus {
  outline: none;
}

.bouton-upload {
  position: absolute;
  top : 3%;
  right : 3%;
  cursor : pointer;
}

.upload-file {
  display : None;
}

.logo-popup {
  position:  absolute;
  top : 3%; 
  right : 3%;
  width : 150px;
  height : auto;
}

.popup-close {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

.popup-validate {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}