.admin-liste {
    padding: 2rem;
    position: relative;
}

.logo-admin {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 10%;
    height: auto;
}

.bouton-retour-liste {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px 18px;
    font-size: 1.1rem;
    background-color: #555;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    border: none;
}

.form-container {
    max-width: 500px;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-container label {
    font-weight: 600;
}

.form-container input,
.form-container select {
    padding: 8px 10px;
    font-size: 1rem;
    border: 2px solid #E75113;
    border-radius: 4px;
}

.add-btn {
    margin-top: 1.5rem;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #E75113;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
    .form-container {
        width: 100%;
        margin-top: 6rem;
    }

    .logo-admin {
        width: 25%;
    }

    .bouton-retour-liste {
        font-size: 1rem;
        padding: 8px 14px;
    }
}
