.logo-popup {
  position:  absolute;
  top : 3%; 
  right : 3%;
  width : 150px;
  height : auto;
}

.qrcode {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width : 100%;
    height : auto;
}

.titre-accueil {
    position : absolute;
    top : 20%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-size: 60px;
    color : #e36414;
    font-weight : bold;
}

.bouton-formulaire {
    position : absolute;
    bottom : 5%;
    left : 30%;
    width: 40%;
    height : auto;
    padding : 2%;
    font-size: 24px;
    border-radius: 35px;
    border : none;
    cursor : pointer;

    background: #e36414;
    color: white;
    box-shadow: 0 4px 10px rgba(227,100,20,0.25);
}

.bouton-login {
    position : absolute;
    top : 5%;
    left : 5%;
    width : 5%;
    height : auto;
    padding : 2%;
    font-size: 30px;
    color: white;
    cursor : pointer;
    background-color: transparent;
    border : none;
}

.icone-login{
  position: absolute;
  left : 0%;
  top : 0%;
  width: 100%;
  height : auto;
}