.logo-accueil {
  position:  absolute;
  top : 3%; 
  right : 3%;
  width : 150px;
  height : auto;
}

.qrcode {
    position : absolute;
    bottom : 5%;
    left : 15%;
    width : 100%;
    height : auto;
}

.titre-accueil {
    margin-top : 10%;
    font-size: 60px;
    text-align: center;
    color : #e36414;
    font-weight : bold;
}

.logo-savety {
    position: absolute;
    top : 10%;
    left : 30%;
    width : 40%;
    height : auto;
    z-index : -1;
}

.bouton-formulaire {
    position : absolute;
    bottom : 5%;
    left : 45%;
    width: 35%;
    height : auto;
    padding : 2%;
    font-size: 24px;
    border-radius: 35px;
    border : none;
    cursor : pointer;
    background: #e36414;
    color: white;
    box-shadow: 0 4px 10px rgba(227,100,20,0.25);
}

.bouton-login {
    position : absolute;
    top : 5%;
    left : 5%;
    width : 5%;
    height : auto;
    padding : 2%;
    font-size: 30px;
    color: white;
    cursor : pointer;
    background-color: transparent;
    border : none;
}

.icone-login{
  position: absolute;
  left : 0%;
  top : 0%;
  width: 100%;
  height : auto;
}


/* ------------------------------ */
/* RESPONSIVE TABLETTES (max 1024) */
/* ------------------------------ */

@media (max-width: 1024px) {

    .titre-accueil {
        font-size: 45px;
        margin-top: 25%;
    }

    .logo-accueil {
        width: 120px;
    }

    .logo-savety {
        top: 15%;
        left: 20%;
        width: 60%;
    }

    .qrcode {
        width: 60%;
        left: 10%;
        bottom: 5%;    
    }

    .bouton-formulaire {
        width: 50%;
        left: 40%;
        font-size: 20px;
    }
}


/* ------------------------------ */
/* RESPONSIVE MOBILES (max 768px) */
/* ------------------------------ */

@media (max-width: 768px) {

    .logo-accueil {
        width: 100px;
    }

    .titre-accueil {
        font-size: 36px;
        margin-top: 35%;
        padding: 0 10px;
    }

    .logo-savety {
        top: 18%;
        left: 5%;
        width: 90%;
    }

    .qrcode {
        width: 60%;
        left: 35%;
        bottom: 15%;
    }

    .bouton-formulaire {
        width: 60%;
        left: 20%;
        font-size: 20px;
        padding: 3%;
    }

    .bouton-login {
        width: 50px;
        height: 50px;
    }
}


/* ------------------------------ */
/* RESPONSIVE PETITS MOBILES (max 480) */
/* ------------------------------ */

@media (max-width: 480px) {

    .logo-accueil {
        width: 80px;
    }

    .titre-accueil {
        font-size: 28px;
        margin-top: 45%;
    }

    .qrcode {
        width: 60%;
        left: 30%;
        bottom: 15%;
    }

    .bouton-formulaire {
        width: 70%;
        left: 15%;
        font-size: 18px;
        padding: 4%;
    }

    .bouton-login {
        width: 40px;
        height: 40px;
    }
}